.main{
	height : 450px;
	width: 550px;
}

.calculator{
	width: 100%;
	height: 100%;
	padding : 10px;
	border-radius: 10px;
	background : wheat;
	border: 1px solid black;
	box-sizing: border-box;
}

.number-screen{
	padding: 0px 5px;
	height: 50px;
	background: white;
	font-size: 44px;
	border-radius: 10px ;
	text-align: right;
	border : 1px solid black;
}

.keys{
	height: 400px;
	width : 100%;
	box-sizing: border-box;
	padding : 20px 0px;
}

.number-pad, .operator-pad {
	width: 49.5%;
	height: 340px;
	display: inline-block;
	float: left;
	background: yellowgreen;
	padding : 10px;
	box-sizing: border-box;
}

.number-key, .operator-key{
	width: 30%;
	margin: 2px;
	height: 75px;
	padding:5px;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 60px;
	text-align: center;
	display: inline-block;
	user-select: none;
	box-sizing: border-box;
}

.number-key:hover, .operator-key:hover{
	background: lightgreen;
}

